body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16pt;
    line-height: 1.5em;
    color: #212529;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.5em;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: #212529;
    width: 100%; 
    position: fixed;
    top: 0; 
    font-size: 11pt;
    text-transform: uppercase;
}

.navbar .container {
    display: table;
    margin: auto;
}

.navbar a {
    display: table-cell;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    color: #f2f2f2;
}

.navbar a:hover {
    background: royalblue;
}

.navbar .argmining {
    padding: 14px 40px;
}

.wrapper {
    margin: 100px auto; 
    max-width: 1000px;
}

.masthead {
    padding: 20px 0;
    text-align: center;
    font-family: "Roboto Slab";
}


.masthead .workshop_title {
    padding: 50px 0;
    font-size: 24pt;
}

.masthead .workshop_title h1 {
    font-size: 32pt;
}

.masthead .workshop_title p {
    margin: 0;
}

.masthead .links {
    font-size: 20pt;
}

.masthead .links .icon {
    height: 40px;
}

.section {
    margin-top: 50px;
}

.section h2 {
    font-size: 24pt;
    text-transform: uppercase;
}

.section h3 {
    font-size: 20pt;
}

#news p {
    margin: 5px -10px;
    padding: 10px 20px;
    background: #252B40;
    background: #375B7F;
    background: #193A5B;
    color: white;
}

#news a {
    color: #EEC98A;
}

#keynote .person {
    display: table;
}

#keynote .person p {
    margin: 0;
}

#keynote .person .photo {
    display: table-cell;
}

#keynote .person .photo img {
    width: 150px;
    margin: 0 30px 0 5px;
}

#keynote .person .profile {
    display: table-cell;
    vertical-align: top;
}

#keynote .person .profile .title {
    font-weight: bold;
    margin-bottom: 10px;
}

#panel_session .panelists {
    display: table;
    width: 100%;
}

#panel_session .panelist {
    display: table-cell;
    width: 20%;
    text-align: center;
}

#panel_session .panelist .domain{
    margin-bottom: 10px;
}

#panel_session .panelist .name {
    margin: 0;
}

#panel_session .panelist .photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#panel_session .panelist .details {
    text-align: center;
}

#panel_session .panelist .logo {
    margin-top: 10px;
    height: 30px;
}

.organizing_committee {
    display: table;
    width: 100%;
}

.organizing_committee .member {
    display: table-cell;
    width: 25%;
    text-align: center;
}

.organizing_committee .member p {
    margin: 0;
}

.organizing_committee .member .photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.organizing_committee .member .details {
    text-align: center;
}

.organizing_committee .member .email {
    font-size: 12pt;
}

.organizing_committee .member .email_logo {
    height: 1.3em;
}

.organizing_committee .member .logo {
    margin-top: 10px;
    height: 30px;
}

.program_committee {
    display: table;
}

.program_committee .column {
    display: table-cell;
    width: 50%;
}

#past_workshops .table {
    display: table;
    width: 100%;
}

#past_workshops .table .column {
    display: table-cell;
    width: 33%;
}

#sponsors .sponsors {
    display: table;
    width: 100%;
}

#sponsors .sponsors img {
    display: table-cell;
    max-width: 25%;
}

#footer {
    width: 100%;
    height: 70px;
    position: fixed; 
    bottom: 0px;
    overflow: hidden;
}

#footer .dummy {
    width: 1200px;
    margin: auto;
}

#footer a {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    padding: 0 8px 16px 8px;
    font-size: 18pt;
    text-align: center;
    border: 2px solid royalblue;
}

#footer a:hover {
    border: 2px solid royalblue;
    background-color: royalblue;
    color: white;
}


